@font-face {
        font-family: 'Lato-Regular';
        font-style: normal;
        font-weight: 200;
        src: url('lato/Lato-Regular.ttf');
    }

@font-face {
        font-family: 'Lato-Thin';
        font-style: normal;
        font-weight: 400;
        src: url('lato/Lato-Thin.ttf');
    }








